<div class="profile-menu">

    <button id="profileBtn" class="profile-btn">

        <img id="profilePhoto" src="images/user.jpeg">

        <span id="userName">
            Loading...
        </span>

        ▼

    </button>


    <div id="profileDropdown" class="profile-dropdown">


        <div class="profile-header">


            <img id="profilePhoto2"
                 src="images/user.jpeg">


            <h3 id="profileName"></h3>


            <p id="profileEmail"></p>


            <small id="verifyStatus"></small>


        </div>

        <hr>

        <a href="index.html">
            Home
        </a>

        <!-- Added Admin Dashboard link (Hidden by default) -->
        <a href="user.html" id="adminLink" style="display: none;">Admin Dashboard</a>

        <button id="logoutBtn">
            Logout
        </button>


    </div>

</div>